/* 
 * My97 DatePicker 4.6
 * Æ¤·ôÃû³Æ:blue
 */
 
/* ÈÕÆÚÑ¡ÔñÈÝÆ÷ DIV */
.WdateDiv{
	width:180px;
	background-color:#ccc;
	padding:2px;
	border:1px solid #3F8AB9;
	border-radius: 5px;
	overflow: hidden;
	font-family: 微软雅黑;
}
/* Ë«ÔÂÈÕÀúµÄ¿í¶È */
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 * µ¼º½Í¼±ê È«²¿ÊÇA±êÇ©
 ***************************/
.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
}

.WdateDiv .NavImgll a{
	float:left;
	background-image:url(navLeft.gif);
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(left.gif);
}
.WdateDiv .NavImgr a{
	float:right;
	background-image:url(right.gif);
}
.WdateDiv .NavImgrr a{
	float:right;
	background-image:url(navRight.gif);
}

/****************************
 * Äê·ÝÔÂ·ÝÏà¹Ø
 ***************************/
/* Äê·ÝÔÂ·ÝÀ¸ DIV */
.WdateDiv #dpTitle{
	height:24px;
	/*background:url(bg.jpg);*/
	background:#022A51;
	border-radius: 5px 5px 0 0;
	padding-top:2px;
	margin-bottom:2px;
}
/* Äê·ÝÔÂ·ÝÊäÈë¿ò INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	width:50px;
	color:#E8E9EA;
	background-color:transparent;
	cursor:pointer;
}
/* Äê·ÝÔÂ·ÝÊäÈë¿ò»ñµÃ½¹µãÊ±µÄÑùÊ½ INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:bold;
	color:#195184;
	border:#939393 1px solid;
	height:16px;
	width:50px;
}
/* ²Ëµ¥Ñ¡Ôñ¿ò DIV */
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#E8E9EA;
	border:#A3C6C8 1px solid;
	display:none;
}
/* ²Ëµ¥µÄÑùÊ½ TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#E8E9EA;
	color:#3C82C0;
}
/* ²Ëµ¥µÄmouseoverÑùÊ½ TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#B5CEE8;
}
/* ²Ëµ¥ÎÞÐ§Ê±µÄÑùÊ½ TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* ÄêÑ¡Ôñ¿òµÄÆ«ÒÆ DIV */
.WdateDiv .YMenu{
	margin-top:16px;
}
/* ÔÂÑ¡Ôñ¿òµÄÆ«ÒÆ DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	*width:62px;
}
/* Ê±Ñ¡Ôñ¿òµÄÎ»ÖÃ DIV */
.WdateDiv .hhMenu{
	margin-top:-86px; 
	margin-left:26px;
}
/* ·ÖÑ¡Ôñ¿òµÄÎ»ÖÃ DIV */
.WdateDiv .mmMenu{
	margin-top:-44px; 
	margin-left:26px;
}
/* ÃëÑ¡Ôñ¿òµÄÎ»ÖÃ DIV */
.WdateDiv .ssMenu{
	margin-top:-23px; 
	margin-left:26px;
}

/****************************
 * ÖÜÏà¹Ø
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#B7C9FD;
	border-right:#BDEBEE 1px solid;
 }
/****************************
 * ÐÇÆÚ,ÈÕÆÚÏà¹Ø
 ***************************/
 /* ÐÇÆÚÀ¸ TR */
.WdateDiv .MTitle{
	color:#BCEAED;
	background-color:#5D99CF;
}
/* ÈÕÆÚÀ¸±í¸ñ TABLE */
.WdateDiv .WdayTable{
	line-height:20px;	
	color:#3C82C0;	
}
.WdateDiv .WdayTable td{
	text-align: center;	
}
/* ÈÕÆÚ¸ñµÄÑùÊ½ TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* ÈÕÆÚ¸ñµÄmouseoverÑùÊ½ TD */
.WdateDiv .WdayOn{
	border-radius: 5px;
	cursor:pointer;
	color:#E8E9EA;
	background-color:#4A88C5;
}
/* ÖÜÄ©ÈÕÆÚ¸ñµÄÑùÊ½ TD */
.WdateDiv .Wwday{
	border-radius: 5px;
	cursor:pointer;
	color:#D01214;
}
/* ÖÜÄ©ÈÕÆÚ¸ñµÄmouseoverÑùÊ½ TD */
.WdateDiv .WwdayOn{
	border-radius: 5px;
	cursor:pointer;
	color:#FEA7A3;
	background-color:#4A88C5;
}
.WdateDiv .Wtoday{
	border-radius: 5px;
	cursor:pointer;
	color:#65933C;
}
.WdateDiv .Wselday{
	border-radius: 5px;
	color:#E8E9EA;	
	background-color:#87B0DA;
}
.WdateDiv .WspecialDay{
	border-radius: 5px;
	background-color:#66F4DF;
}
/* ÆäËûÔÂ·ÝµÄÈÕÆÚ */
.WdateDiv .WotherDay{ 
	border-radius: 5px;
	cursor:pointer;
	color:#999;	
}
/* ÆäËûÔÂ·ÝµÄÈÕÆÚmouseoverÑùÊ½ */
.WdateDiv .WotherDayOn{ 
	border-radius: 5px;
	cursor:pointer;
	background-color:#87B0DA;	
}
/* ÎÞÐ§ÈÕÆÚµÄÑùÊ½,¼´ÔÚÈÕÆÚ·¶Î§ÒÔÍâÈÕÆÚ¸ñµÄÑùÊ½,²»ÄÜÑ¡ÔñµÄÈÕÆÚ */
.WdateDiv .WinvalidDay{
	color:#aaa;
}
/****************************
 * Ê±¼äÏà¹Ø
 ***************************/
/* Ê±¼äÀ¸ DIV */
.WdateDiv #dpTime{
	
}
/* Ê±¼äÎÄ×Ö SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#3C81C2;
}
/* Ê±¼äÊäÈë¿ò INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#3C81C2 1px solid;	
}
/* Ê±¼ä Ê± INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* Ê±¼ä ·ÖºÍ¼ä¸ô·û ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* Ê±¼ä Ãë INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* Ê±¼äÓÒ±ßµÄÏòÉÏ°´Å¥ BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
/* Ê±¼äÓÒ±ßµÄÏòÏÂ°´Å¥ BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}
/****************************
 * ÆäËû
 ***************************/
 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background-image:url(qs.png);
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{ 
	font-family: 微软雅黑;
	height:18px;
	width:45px;
	border:1px solid #3F8AB9;
	margin-left: 3px;
	padding-top: 0;
	/*line-height: 18px;*/
	background:#022A51;
	color:#E8E9EA;
	cursor: pointer;
}

.WdateDiv .dpButton:hover{
	background:#2F688C;
}